body{
  background-color: rgb(12,12,12);
  font-family:'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif; ;
}

.header1{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(12,12,12); 
}

.Box{
margin-top: 20px;
margin:10px;
color: white;
}
.Box:hover {
  color: darkgray;
}

.space{
  margin-right:450px;
  color: white;
}

  .space:hover {
  color: darkgray;
}

.Logo{
  background-color: transparent;
  margin-left: 10px;
}

.image{
  width:40px;
  height:40px;
  border-radius: 5px;
}

input[type=text] {
  width: 0px;
  box-sizing:content-box;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  background-color: transparent;
  background-image: url('lupa.png');
  background-repeat: no-repeat;
  background-position: 1px 5px ;
  padding: 9px 15px 10px 12px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 80%;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(223, 219, 219);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  text-decoration: underline;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#Font{
  color:white;

}

.main-container {
  padding: 10px;
}

.box {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(6, minmax(80px, 1fr));
}

a{margin: 10px;}

.box a {
  transition: transform .3s;  

}

.box a:hover {
  transition: transform .3s;
  -ms-transform: scale(1.4);
  -webkit-transform: scale(1.4);  
  transform: scale(1.4);
}

.box img {
  border-radius: 2px;
}

.box2 {
  padding-top: 50px;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 20px;
}

.sub-links ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.sub-links a {
  color:grey;
  text-decoration: none;
}

.sub-links a:hover {
  text-decoration: underline;
}

.button{
  font-size: 1.2vw;
  border: 1px solid grey;
  color: grey;
  padding: 0.5em 1.2em;
  letter-spacing: 2px;
  cursor: pointer;
  background-color: transparent;
  
}
.button:hover{
  border:2px solid white; 
}

p{
  color: grey;
  margin-left: 120px;

}